html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}


.row__full {
    width: 100%;
}

.padding__botton {
    padding: 1rem
}

.font__text-small {
    font-size: 1.6rem;
}

.font__text-big {
    font-size: 6rem;
}

.margin__top{
    margin-top: 1.6rem;

}

.color__text {
    color: #ccc;
} 
