/* pc */
@media only screen and  (min-width: 64em) {
    /* class chung */



    #header__menu {
        display: none;
    }
    #header .navbar__list .navbar__list-item {
        margin-top: 1.6rem;
    }
    /* SLIDER */
    

    /* about */
    #about .about__me-item1 {
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
    #about .about__me-item2 {
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
}

/* tablet */
@media only screen and (min-width: 48em) and  (max-width: 64em) {




    #header__menu {
        display: none;
    }

    #header .navbar__list .navbar__list-item {
        margin-top: 1.6rem;
    }

    /* about */
    #about .about__me-item1 {
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
    #about .about__me-item2 {
        letter-spacing: 0.1rem;
        line-height: 2rem;
    }
    #about .about__me-item1 {
    }

}

/* mobile */
@media only screen and   (max-width:  47.9375em) {
    /* class chung */
    


    /* begin-header */
    .navbar {
        margin-left: 4rem;
        width: 100%;
    }

    #header .navbar__list .navbar__list-item  {
        display: block;
        width: 100%;
        margin-top: 1rem;
    }
    #header .navbar__list .navbar__list-item a {
        display: block;
        width: 90%;
    }
    /* begin-slider */
     .slider .slider__name {
        font-size: 3rem;
    }
     .slider .slider__desc {
        font-size: 1.6rem;
    }

    /* begin about */
    


    #about .about__me {
        font-size: 3rem;
    }

    #about .about__me-item1 {
        top: 26%;
        font-size: 1rem;
        width: 10rem;
        letter-spacing: 0.0rem;
        line-height: normal;
    }
    #about .about__me-item2 {
        top: 26%;
        font-size: 1rem;
        width: 10rem;
        line-height: normal;
    }

    #about .about__me-resume {
        margin-top: 1rem;
        font-size: 1rem;

    }

    /* galary */
    #gallery {
        position: relative;
        margin-top: 5rem;
    }
    #gallery h3 {
        position: absolute;
        z-index: 3;
        top: -1rem;
        text-shadow: 1px 1px rgba(51, 51, 51,1);
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        font-size:  3rem;
        
        letter-spacing: 0.5rem;
        
    }
    #gallery:hover h3{
        opacity: 1;
    }
    
    #gallery .gallery__list{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto ;
        gap: 1rem;
    }

/* contact */
    #contact h3 {
        font-size: 3rem;  
    }
    #contact p {
        top:10rem;
        font-size: 1.6rem;  
    }

    #contact .contact__container {
        padding-top: 20rem;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
    }
    #contact .contact__container .contact__text{
        margin-top: 5rem;
    }

    #contact  .contact__text .contact__text-botton{
        width: 100%;
    }

    /* footer */
    #footer .box {
        width: 100%;
        
    }
    #footer h3{
        padding-top: 5rem;
        padding-bottom: 2rem;
        font-size: 3rem;
    }
    #footer .icon__list {
        padding: 3rem 0;
    }
    #footer .icon__list .icon__list-item{
        margin: 0 1rem;
    }

    
}