#main {
 min-height: 10000px;
}
/* begin-header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    
    height: 5rem;
    background-color: #333;
    justify-content: space-between;
    overflow: hidden;
    z-index: 99;
}
#header .logo {
    
}

#header .logo__list{
    margin-top: 1rem;
    display:flex;
    text-decoration: none;
    background-color: rgba(101, 101, 101, 0.4);
}
#header .logo__icon  { 
    letter-spacing: 0.5rem;
    color: rgb(236, 77, 77);
}

#header .logo__name  { 
    letter-spacing: 0.1rem;
}


#header .logo__name span {
    color: green;
}

#header .navbar  {
    
}

#header .navbar__list {
    
}


#header .navbar__list .navbar__list-item {
    list-style: none;
    display: inline-block;
    margin: 0 1.6rem;
    
}
#header  .navbar__list-item a {
    
    font-style: none;
    text-decoration: none;
    
    margin-top: 1rem;
    border-radius: 1.6rem;
    transition: background-color ease-in 0.3s;
}
#header .navbar__list .navbar__list-item a:hover {
    background-color: #ccc;
    color:#333;
    
}

#header #header__menu {

}

#header #header__menu i{
    
    border-radius: 1.6rem;
}

#header #header__menu i:hover {
    background-color: #ccc;
    color:#333;
}


/* end header */
/* slidewr */
.slider {
    margin-top: 5rem;
    position: relative;
    background: url(../img/7cc66639fc165e48070713.jpg) no-repeat center/ cover;
    padding-top: 50%;
    text-align: center;
}

.slider__position {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    animation: animation  2s infinite linear;
    width: 100%;
}

@keyframes animation{
    0%{
        transform: translate(-50%, -50%);
    }   

    50%{
        transform: translate(-50%,calc(-50% + 1rem));
    }   
    100%{
        transform: translate(-50%, -50%);
    } 
}


.slider .slider__name {
    
    letter-spacing: 0.1rem;
    text-shadow: 0.1rem 0.1rem rgba(51, 51, 51,0.4);
    padding:  1.6rem ;
}
.slider .slider__desc {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px rgba(51, 51, 51,0.4);
    font-style: italic;
    text-align: center;
}
/*  b0dy */
#container {
    
}
#content {
    width: 100%;
    background-color: #333; 
}

/* about */
#about {
 
    
}
#about .about__list {
    position: relative;
    background: url(../img/4KG2VgKFDJWqdtg4UMRqk5CnkJVoCpe5QMd20Pf7.jpg) no-repeat top / cover;
    padding-top: 60%;
    
}

#about .about__me {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    text-align: center;
    
    font-weight: 100;
    letter-spacing: 0.5rem;
    background-color: rgba(51, 51, 51);
    
}

#about .about__me-item1 {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 20rem;
    letter-spacing: 0.1rem;
    text-align: justify;
    
}

#about .about__me-item2 {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 20rem;
    letter-spacing: 0.1rem;
    text-align: justify;
    
}

#about .about__me-resume {
    display: inline-block;
    background-color: #5f5d5d;
    color:#ccc;
    border-radius: 1.6rem;
    border: none;
    transition: background-color ease-in 0.3s;
    text-align: center;
    text-decoration: none;
}
#about .about__me-resume:hover {
    background-color: #ccc;
    color: #333;
}

/* gallery */

#gallery {
    position: relative;
    margin-top: 1.6rem;
}

#gallery:hover h3{
    display: none;
}
#gallery h3 {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px rgba(51, 51, 51,1);
}

#gallery .gallery__list{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

#gallery .gallery__list-item {
    position: relative;
    width: 100%;
    background-color: #333;
    cursor: pointer;
    overflow: hidden;
}

#gallery .gallery__list-item .gallery__img {
        background: url(../img/cbe022e6b8c91a9743d89.jpg) no-repeat center/cover;
        padding-top: 50%;
        opacity: 1;
        transition: opacity 0.4s ease-in;
        transition: transform 0.8s ease-in-out;
}

#gallery .gallery__list-item:hover  .gallery__img {
    transform: scale(1.1);
    opacity: 0.4;
}

#gallery .gallery__list-item p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    z-index: 2;
    display: none;
    letter-spacing: 0.1rem;
}

#gallery .gallery__list-item:hover p {
    display:block;
}
#gallery .gallery__list-item .ti-share-alt {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.6rem;
    padding: 1rem;
    display:none;
    color: #fff;
}
#gallery .gallery__list-item:hover i {
    display:block;
}

#gallery .gallery__list-item .ti-share-alt:hover{
    opacity: 0.8;
}